body {
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.jogo {
  display: flex;
  justify-content: center;
}

.alunos {
  padding: 20px;
}

p, h4 {
  margin: 0px auto;
  /* text-align: center; */
  padding: 0px 25%;
  
}