body {
  margin: 0 auto;
}

h1, h2 {
  text-align: center;
  margin: 0px auto;
  padding: 20px;
}

.jogo {
  display: flex;
  justify-content: center;
}

.alunos {
  padding: 20px;
}

p, .nome{
  margin: 0px auto;
  /* text-align: center; */
  padding: 0px 25%;
  
}

.col-6 {
  text-align: center;
}

.videos {
  
}